/* 
Dependencies/fonts
*/

@import './normalize';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

/* 
Variables
*/

$clr-white: #fff;
$clr-blue: #00698f;
$bp-tablet: 768px;
$spacing-normal: 20px;
$spacing-wide: 40px;

/* 
Layout/Global styles
*/

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  min-width: 320px;
}

html,
body {
  position: relative;
  height: 100%;
  color: $clr-blue;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

main {
  padding-bottom: $spacing-wide;
}

p,
a {
  font-size: 16px;
  @media (min-width: $bp-tablet) {
    font-size: 24px;
  }
}

.container {
  padding-left: $spacing-wide;
  padding-right: $spacing-wide;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1280px;
}

.heading {
  max-width: 100%;
  font-weight: 400;
  font-size: 34px;
  @media (min-width: $bp-tablet) {
    max-width: 60%;
    font-size: 48px;
  }
}

.text-right {
  text-align: right;
}

.btn {
  display: inline-block;
  margin-right: auto;
  background-color: $clr-blue;
  color: $clr-white;
  padding: 10px;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/*
  Global header
*/

.header {
  width: 100%;
  background-color: $clr-blue;

  .container {
    display: flex;
    align-items: center;
  }

  .header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: $spacing-normal 0;
  }

  .header__logo {
    img {
      height: 50px;
      width: 100%;
      @media (min-width: $bp-tablet) {
        height: auto;
      }
    }
  }

  .header__menu {
    display: block;
    margin-left: auto;
    z-index: 100;
    align-self: center;
    .header__menu__icon {
      cursor: pointer;
      position: relative;
      user-select: none;
      .burger-icon {
        background-color: $clr-white;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width: 25px;
        &:before,
        &:after {
          background-color: $clr-white;
          content: '';
          display: block;
          height: 2px;
          position: absolute;
          transition: all 0.2s ease-out;
          width: 100%;
          border-radius: 0.5px;
        }

        &:before {
          top: 11px;
        }
        &:after {
          top: -11px;
        }
      }
    }

    .header__menu__btn {
      display: none;
      &:checked ~ .header__menu__icon {
        .burger-icon {
          background-color: transparent;

          &:before {
            transform: rotate(-45deg);
            background-color: $clr-white;
          }
          &:after {
            transform: rotate(45deg);
            background-color: $clr-white;
          }
        }

        &:not(.steps) {
          .burger-icon:before,
          .burger-icon:after {
            top: 0;
          }
        }
      }
    }
  }
}

/*
  Global hero
*/

.hero {
  position: relative;
  width: 100%;
  height: 10vw;
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: $clr-blue;

  .hero__copy {
    color: $clr-white;
    @media (min-width: $bp-tablet) {
      margin-left: auto;
    }
  }

  .hero__edge {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
  }
}

/*
Main Content
*/

.content {
  .content__cards__wrapper {
    display: flex;
    flex-direction: column;
    @media (min-width: $bp-tablet) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .content__card {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(33% - 20px);
    margin-top: $spacing-wide;
    @media (min-width: $bp-tablet) {
      margin-right: $spacing-normal;
      &:last-of-type {
        margin-right: 0;
      }
    }
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      object-position: center;
    }
  }

  .content__card__text {
    flex: 1;
  }
}
